@import "variables.css";
body {
    background-color: var(--light-grey);
}

#central_card {
    width: 20rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px 15px 40px 15px;
    margin-left: auto;
    margin-right: auto;
}

#central_card img {
    width: 100%;
    border-radius: 10px;
}

#central_card #inner-central_card {
    font-family: 'Outfit', sans-serif;
    padding: 30px 15px 0;
}

#central_card #inner-central_card h1 {
    font-weight: 700;
    text-align: center;
    color: var(--dark-blue);
    margin-top: 0;
    margin-bottom: 20px;
    /* font-size: 24px; */
    font-size: 1.5rem;
    line-height: 1.2;
}

#central_card #inner-central_card p {
    font-weight: 400;
    text-align: center;
    color: var(--grayish-blue);
    margin-bottom: 0;
    /* font-size: 18px; */
    font-size: 1.125rem;
    line-height: 1.2;
}